<div
  class="shadow-default group min-h-full overflow-hidden rounded-xl bg-white">
  <a
    href="{{ .Permalink }}"
    class="inline-block h-full max-h-[270px] w-full overflow-hidden">
    {{ partial "image.html" (dict "Src" .Params.Image "Class" `h-full w-full object-cover transition-transform duration-300 group-hover:scale-105` "Alt" .Params.Title) }}
  </a>
  <div class="px-5 pb-11">
    <div class="-mt-9 mb-3 flex items-center">
      <br>
    </div>
    <h3
      class="font-primary text-dark mb-6 text-xl font-semibold capitalize sm:text-2xl">
      <a
        href="{{ .Permalink }}"
        class="link-animation relative after:absolute after:inset-0">
        {{ .Title | markdownify }}
      </a>
    </h3>
  </div>
</div>