<!-- JS Plugins + Main script -->
{{ $scripts := slice }}
{{ range site.Params.plugins.js }}
  {{ if findRE "^http" .link }}
    <script
      src="{{ .link | relURL }}"
      type="application/javascript"
      {{ .attributes | safeHTMLAttr }}></script>
  {{ else }}
    {{ $scripts = $scripts | append (resources.Get .link) }}
  {{ end }}
{{ end }}

<script> // Turn off console version logging and turn down volume
  let neodigmOptCustom = { CONSOLE_LOG_VER:true, W4S_VOLUME: .016 }
</script>

<link rel="stylesheet" href="https://arcanus55.github.io/neodigm55/dist/neodigm55__v3_1.css"></link>
<script src="https://arcanus55.github.io/neodigm55/dist/neodigm55__v3_1.js"></script>
<link rel="stylesheet" href="https://arcanus55.github.io/neodigm55/dist/neodigm55_v1_0_launchComplete.css"></link>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<style>
  /* Overrides */
  :root {
    --neodigm-theme-brand: #bd21e4;   --neodigm-theme-brand-alt: #0827f5;  /* Custom Override */
    --neodigm-theme-primary: #92a8d1;   --neodigm-theme-primary-alt: #364C75;  /* Serenity approx. 25% darker */
    --neodigm-theme-secondary: #EDCED0; --neodigm-theme-secondary-alt: #978284;  /* Sand Dollar */

    --m5lc-theme-brand:  #bd21e4; --m5lc-theme-brand-alt:  #0827f5;  /* Custom Override */
    --intd-gray: #d2d2d2;
  }
  body > main > section.section.banner.relative.overflow-hidden.before\:z-10.after\:z-10 > div.container.relative.z-30 > div > div.lg\:col-6.mx-auto.max-w-\[600px\].pt-24.lg\:pt-0 > div:before {
    background-color: var( --neodigm-theme-brand-alt )
  }
  body > main > section.section.banner.relative.overflow-hidden.before\:z-10.after\:z-10 > div.container.relative.z-30 > div > div.lg\:col-6.mx-auto.max-w-\[600px\].pt-24.lg\:pt-0 > div:after {
    background-color: var( --neodigm-theme-brand )
  }
  body > main > section.section.banner:after {
    background-color: #d2d2d2;
  }
  .l-intd__h1 {
    color: #fff;
    line-height: .98;
  }
  .l-intd__head--sticky {
    background-color: #fff;
  }
  .l-intd__announcment {
    background: linear-gradient(to right, #bd21e4, #0827f5, #bd21e4);
  }
  .l-intd__howwe--caption, .l-intd__howwe--caption:hover {
    cursor: default !important;
    background-color: var( --neodigm-theme-brand );
    opacity: .6;
    text-align: center;
  }
  .l-intd__howwe--caption * {
    cursor: default !important;
    color: #fff;
  }
  .pointer-events-none svg{
    fill: var( --m5lc-theme-brand ) !important;
    opacity: .4;
  }
  .l-intd__vect--alt svg,
  .l-intd__vect--alt path{
    stroke: var( --m5lc-theme-brand-alt ) !important;
    opacity: .4;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", ( ev )=>{
    let elDrop = document.querySelectorAll( ".nav-item.nav-dropdown.group" )[1]
    if( elDrop ){
      elDrop.addEventListener( "mouseover", ( ev )=>{ 
          setTimeout( ()=>{
            let elItem = elDrop.querySelector( "ul > li:nth-child(1)" )
            if( elItem ){
              elItem.classList.add( "l-intd__howwe--caption" )
              let elA = elItem.querySelector("a")
              if( elA ){
                elA.addEventListener( "click", (ev)=>{ ev.preventDefault() })
              }
            }
          }, 56)
        }
      )
    }
    /*
    document.addEventListener("mouseover", ( ev )=>{
      if( ev.target.classList.contains("nav-dropdown-link") ){
        let elT = ev.target
        if( elT.textContent.indexOf("Get More Clients") != -1 ){
          //elT.dataset.n55PoptartHover = "js-popt-howwe"
        }else{
          //neodigmPopTart.close()
        }

        console.log( elT )
        console.log( elT.textContent )
      }
    })*/
  })
</script>

<!--
<neodigm-acticon data-n55-theme="ghost" data-n55-size="medium" data-n55-wired4sound-click='5'
data-n55-tulip='My Poptart' data-n55-poptart-click="js-popt-howwe"
><neodigm-icon class="material-symbols-outlined" data-n55-wired4sound-hover='3'>movie</neodigm-icon></neodigm-acticon>
-->
<!-- main script -->
{{ $scripts = $scripts | append (resources.Get "js/main.js") }}
{{ $scripts = $scripts | resources.Concat "js/script.js" }}
{{ if hugo.IsProduction }}
  {{ $scripts = $scripts | minify | fingerprint }}
{{ end }}


<script
  crossorigin="anonymous"
  integrity="{{ $scripts.Data.Integrity }}"
  src="{{ $scripts.RelPermalink }}"></script>

<!-- progressive web app -->
{{ partialCached "pwa.html" . }}


<!-- cookie consent -->
{{ partialCached "cookie-consent.html" . }}


<!-- google adsense -->
{{/* {{ partialCached "adsense-script.html" . }} */}}
