{{ define "main" }}
  {{ partial "page-header.html" . }}

  {{ with .Params.gallery }}
    {{ if .enable }}
      <section class="section relative z-20 mt-[-26rem] overflow-hidden">
        <div class="container relative">
          <div data-aos="fade-up-sm" data-aos-delay="150" class="row">
            <div class="md:col-6 lg:translate-x-24">
              <div
                class="max-w-[670px] rounded-[15px] border-[6px] border-white bg-white sm:border-[12px] lg:rotate-[-4deg]">
                {{ partial "image.html" (dict "Src" .image_left "Class" "w-full rounded-[15px] object-cover" "Alt" "gallery") }}
              </div>
            </div>
            <div class="md:col-6 lg:-translate-x-24 lg:pt-36">
              <div
                class="relative z-10 max-w-[670px] rounded-[15px] border-[6px] border-white bg-white sm:border-[12px] lg:rotate-[8deg]">
                {{ partial "image.html" (dict "Src" .image_right "Class" "w-full rounded-[15px] object-cover" "Alt" "gallery") }}
              </div>
            </div>
          </div>
          <!-- Start Shape background -->
          <div
            class="pointer-events-none absolute left-[-14%] top-[-7%] -z-10 hidden select-none md:block lg:left-0"
            data-aos="fade-right-sm"
            data-aos-delay="150">
            {{ partial "image.html" (dict "Src" "images/shapes/about-s-1.svg" "Class" "inline-svg text-tertiary" "Alt" "shape") }}
          </div>
          <div
            class="pointer-events-none absolute right-0 top-0 -z-10 hidden select-none md:block lg:right-[30%]"
            data-aos="fade-left-sm"
            data-aos-delay="150">
            {{ partial "image.html" (dict "Src" "images/shapes/about-s-2.svg" "Class" "inline-svg text-quaternary" "Alt" "shape") }}
          </div>
          <div
            class="pointer-events-none absolute bottom-[-16%] right-[35%] -z-10 hidden select-none md:block"
            data-aos="fade-down-sm"
            data-aos-delay="150">
            {{ partial "image.html" (dict "Src" "images/shapes/about-s-3.svg" "Class" "inline-svg text-secondary" "Alt" "shape") }}
          </div>
          <!-- End Shape background -->
        </div>
        <!-- End Main Content -->
      </section>
      <!-- End About Gallery -->
    {{ end }}
  {{ end }}

  {{ with .Params.ultimate_vision }}
    <section class="section relative z-20">
      <div class="container">
        <div class="row gy-4">
          {{ range $i, $e := . }}
            <div
              data-aos="fade-left-sm"
              data-aos-delay="{{ mul $i 50 }}"
              class="lg:col-6">
              <span
                class="mb-6 inline-block font-medium uppercase text-red-400">
                {{ .subtitle | markdownify }}
              </span>
              <div class="border-dark border-l-2 border-opacity-50 py-2 pl-6">
                <h2 class="font-semibold">
                  {{ .title | markdownify }}
                </h2>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
    <!-- End About Vision -->
  {{ end }}




<neodigm-widget data-n55-widget-id="horizontal_scroll"></neodigm-widget>

  <n55-wdg-horz-scrl id="region">
    <div id="region-container" style="width: 400%;">
        <article class="panel" style="background-color: var( --intd-gray ); background: radial-gradient(circle, rgba(189,33,228,0.8884147408963585) 0%, rgba(8,39,245,1) 100%);" data-pref-scheme="dark">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <br>
            <div><br><p class="hd1" style="color:#fff;line-height: .9;">Content Marketing</p>
            <p class="hd1" style="color:#fff;line-height: .9;">+ The Art of Storytelling</p></div>
            <br>
            <div style="width: 25%; margin: 2px auto 2px 2px;">
            <p class="hd5" style="color: #fff;">The best content marketing strategies are subtle, yet impactful. The minute a potential customer brain dumps a question, concern, or problem on platforms like Google and social media, we go to work, making sure that your brand cuts through the noise.</p>
            <p class="hd5" style="color: #fff;">Effective content marketing goes beyond just providing information. It’s about evoking emotions, sparking curiosity, and ultimately guiding customers to make the decision to work with you. Through our meticulously crafted content, we inspire your audience to not only consider your company, but to choose it with confidence.</p>
  
          </div>
        </div>

        </article>
        <article class="panel" style="background-color: #fff; background: radial-gradient(circle, rgba(189,33,228,0.8884147408963585) 0%, rgba(8,39,245,1) 100%);" data-pref-scheme="light">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <br>
            <div><br><p class="hd1" style="color:#fff;line-height: .9;">Copywriting</p>
                <br>
                <div style="width: 25%; margin: 2px auto 2px 2px;">
                <p class="hd5" style="color: #fff;">Our team of expert copywriters crafts persuasive and engaging content that captures the essence of your brand. We use words strategically to influence customer decisions and position your business as the top choice in their minds.</p>
            </div>
        </div>
        </article>
        <article class="panel" style="background-color: #242424;background: radial-gradient(circle, rgba(189,33,228,0.8884147408963585) 0%, rgba(8,39,245,1) 100%);" data-pref-scheme="dark">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <br>
            <div><br><p class="hd1" style="color:#fff;line-height: .9;">Video</p>
                <p class="hd1" style="color:#fff;line-height: .9;">& Animation</p></div>
                <br>
                <div style="width: 25%; margin: 2px auto 2px 2px;">
                <p class="hd5" style="color: #fff;">Video search engines are the second largest in the world, with over 2 billion active monthly users.</p>
                <p class="hd5" style="color: #fff;">With our captivating video content, we bring your brand to life, delivering immersive experiences made to capture and keep your customers’ attention.</p>
            </div>
        </div>
        </article>
        <article class="panel" style="background-color: #fff; background: radial-gradient(circle, rgba(189,33,228,0.8884147408963585) 0%, rgba(8,39,245,1) 100%);" data-pref-scheme="light">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <br>
            <div><br><p class="hd1" style="color:#fff;line-height: .9;">Spend Smart</p>
                <br>
                <div style="width: 25%; margin: 2px auto 2px 2px;">
                <p class="hd5" style="color: #fff;">Say more with less words when you partner with Interstellar Digital. Our talented photographers showcase your brand through visually stunning imagery crafted specifically to resonate with your target audience.</p>
                <p class="hd5" style="color: #fff;">By showcasing your offerings in the best light, we help you make a lasting impression.</p>
            </div>
        </div>
        </article>
    </div>
</n55-wdg-horz-scrl>



<hr data-n55-theme="brand" data-n55-size="xsmall">


  <!-- cache partial only in production -->
  {{ if hugo.IsProduction }}
    {{ partialCached "essentials/footer.html" . }}
  {{ else }}
    {{ partial "essentials/footer.html" . }}
  {{ end }}
{{ end }}
