{{ define "main" }}
  {{ partial "page-header.html" . }}

  {{ with .Params.gallery }}
    {{ if .enable }}
      <section class="section relative z-20 mt-[-26rem] overflow-hidden">
        <div class="container relative">
          <div data-aos="fade-up-sm" data-aos-delay="150" class="row">
            <div class="md:col-6 lg:translate-x-24">
              <div
                class="max-w-[670px] rounded-[15px] border-[6px] border-white bg-white sm:border-[12px] lg:rotate-[-4deg]">
                {{ partial "image.html" (dict "Src" .image_left "Class" "w-full rounded-[15px] object-cover" "Alt" "gallery") }}
              </div>
            </div>
            <div class="md:col-6 lg:-translate-x-24 lg:pt-36">
              <div
                class="relative z-10 max-w-[670px] rounded-[15px] border-[6px] border-white bg-white sm:border-[12px] lg:rotate-[8deg]">
                {{ partial "image.html" (dict "Src" .image_right "Class" "w-full rounded-[15px] object-cover" "Alt" "gallery") }}
              </div>
            </div>
          </div>
          <!-- Start Shape background -->
          <div
            class="pointer-events-none absolute left-[-14%] top-[-7%] -z-10 hidden select-none md:block lg:left-0"
            data-aos="fade-right-sm"
            data-aos-delay="150">
            {{ partial "image.html" (dict "Src" "images/shapes/about-s-1.svg" "Class" "inline-svg text-tertiary" "Alt" "shape") }}
          </div>
          <div
            class="pointer-events-none absolute right-0 top-0 -z-10 hidden select-none md:block lg:right-[30%]"
            data-aos="fade-left-sm"
            data-aos-delay="150">
            {{ partial "image.html" (dict "Src" "images/shapes/about-s-2.svg" "Class" "inline-svg text-quaternary" "Alt" "shape") }}
          </div>
          <div
            class="pointer-events-none absolute bottom-[-16%] right-[35%] -z-10 hidden select-none md:block"
            data-aos="fade-down-sm"
            data-aos-delay="150">
            {{ partial "image.html" (dict "Src" "images/shapes/about-s-3.svg" "Class" "inline-svg text-secondary" "Alt" "shape") }}
          </div>
          <!-- End Shape background -->
        </div>
        <!-- End Main Content -->
      </section>
      <!-- End About Gallery -->
    {{ end }}
  {{ end }}

  {{ with .Params.ultimate_vision }}
    <section class="section relative z-20">
      <div class="container">
        <div class="row gy-4">
          {{ range $i, $e := . }}
            <div
              data-aos="fade-left-sm"
              data-aos-delay="{{ mul $i 50 }}"
              class="lg:col-6">
              <span
                class="mb-6 inline-block font-medium uppercase text-red-400">
                {{ .subtitle | markdownify }}
              </span>
              <div class="border-dark border-l-2 border-opacity-50 py-2 pl-6">
                <h2 class="font-semibold">
                  {{ .title | markdownify }}
                </h2>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
    <!-- End About Vision -->
  {{ end }}

  <section class="pfmf-grid pfmf-grid__50_50">
    <div>
      <h2 data-aos="fade-up-sm" class="font-semibold aos-init aos-animate">Content Marketing<br>+ The Art of Storytelling</h2>
      <br>
      <p class="pl-6 text-lg aos-init oas-animate" data-aos="fade-up-sm">The best content marketing strategies are subtle, yet impactful. The minute a potential customer brain dumps a question, concern, or problem on platforms like Google and social media, we go to work, making sure that your brand cuts through the noise.</p>
      <br>
      <p class="pl-6 text-lg aos-init oas-animate" data-aos="fade-up-sm">Effective content marketing goes beyond just providing information. It’s about evoking emotions, sparking curiosity, and ultimately guiding customers to make the decision to work with you. Through our meticulously crafted content, we inspire your audience to not only consider your company, but to choose it with confidence.</p>
      <br>
      <nav><a data-aos="fade-up-sm" id="js-seo_page2_cta" href="/interstellar-website/contact/" data-n55-enchanted-cta="" data-n55-enchanted-cta-ambient="emit" data-n55-enchanted-cta-dont-touch="true" data-n55-enchanted-cta-shape-off="true" data-n55-enchanted-cta-hover-an="true" data-n55-enchanted-cta-size="large" data-n55-theme="brand" data-n55-wired4sound-click="vibrate"><span data-n55-wired4sound-hover="3">Get Started</span><span>Contact Us</span></a></nav>
    </div>
    <section>
      <img src="/interstellar-website/inphographic.png" alt="Content Marketing"
      style="width: 66%; margin: auto;">
    </section>
  </section>
  <br><br><br>

<section class="pfmf-grid pfmf-grid__50_50">
  <section>
    <img src="/interstellar-website/copywriting.png" alt="Content Marketing"
    style="width: 66%; margin: auto;">
  </section>  
  <div>
    <h2 data-aos="fade-up-sm" class="font-semibold aos-init aos-animate">Copywriting</h2>
    <br>
    <p class="pl-6 text-lg aos-init oas-animate" data-aos="fade-up-sm">Our team of expert copywriters crafts persuasive and engaging content that captures the essence of your brand. We use words strategically to influence customer decisions and position your business as the top choice in their minds.</p>
  </div>

</section>
<br><br><br>

<section class="pfmf-grid pfmf-grid__50_50">
  <div>
    <h2 data-aos="fade-up-sm" class="font-semibold aos-init aos-animate">Video & Animation</h2>
    <br>
    <p class="pl-6 text-lg aos-init oas-animate" data-aos="fade-up-sm">Video search engines are the second largest in the world, with over 2 billion active monthly users. With our captivating video content, we bring your brand to life, delivering immersive experiences made to capture and keep your customers’ attention.</p>
  </div>
  <section>
    <img src="/interstellar-website/tablet.png" alt="Content Marketing"
    style="width: 66%; margin: auto;">
  </section>
</section>
<br><br><br>

<section class="pfmf-grid pfmf-grid__50_50">
  <section>
    <img src="/interstellar-website/picturesphoto-2.png" alt="Content Marketing"
    style="width: 66%; margin: auto;">
  </section>
  <div>
    <h2 data-aos="fade-up-sm" class="font-semibold aos-init aos-animate">Photography</h2>
    <br>
    <p class="pl-6 text-lg aos-init oas-animate" data-aos="fade-up-sm">Say more with less words when you partner with Interstellar Digital. Our talented photographers showcase your brand through visually stunning imagery crafted specifically to resonate with your target audience.</p>
    <br>
    <p class="pl-6 text-lg aos-init oas-animate" data-aos="fade-up-sm">By showcasing your offerings in the best light, we help you make a lasting impression.</p>
  </div>
</section>
<br><br><br>

  <!-- cache partial only in production -->
  {{ if hugo.IsProduction }}
    {{ partialCached "essentials/footer.html" . }}
  {{ else }}
    {{ partial "essentials/footer.html" . }}
  {{ end }}
{{ end }}
