{{ define "main" }}
  {{ partial "page-header.html" . }}

  {{ with .Params.gallery }}
    {{ if .enable }}
      <section class="section relative z-20 mt-[-26rem] overflow-hidden">
        <div class="container relative">
          <div data-aos="fade-up-sm" data-aos-delay="150" class="row">
            <div class="md:col-6 lg:translate-x-24">
              <div
                class="max-w-[670px] rounded-[15px] border-[6px] border-white bg-white sm:border-[12px] lg:rotate-[-4deg]">
                {{ partial "image.html" (dict "Src" .image_left "Class" "w-full rounded-[15px] object-cover" "Alt" "gallery") }}
              </div>
            </div>
            <div class="md:col-6 lg:-translate-x-24 lg:pt-36">
              <div
                class="relative z-10 max-w-[670px] rounded-[15px] border-[6px] border-white bg-white sm:border-[12px] lg:rotate-[8deg]">
                {{ partial "image.html" (dict "Src" .image_right "Class" "w-full rounded-[15px] object-cover" "Alt" "gallery") }}
              </div>
            </div>
          </div>
          <!-- Start Shape background -->
          <div
            class="pointer-events-none absolute left-[-14%] top-[-7%] -z-10 hidden select-none md:block lg:left-0"
            data-aos="fade-right-sm"
            data-aos-delay="150">
            {{ partial "image.html" (dict "Src" "images/shapes/about-s-1.svg" "Class" "inline-svg text-tertiary" "Alt" "shape") }}
          </div>
          <div
            class="pointer-events-none absolute right-0 top-0 -z-10 hidden select-none md:block lg:right-[30%]"
            data-aos="fade-left-sm"
            data-aos-delay="150">
            {{ partial "image.html" (dict "Src" "images/shapes/about-s-2.svg" "Class" "inline-svg text-quaternary" "Alt" "shape") }}
          </div>
          <div
            class="pointer-events-none absolute bottom-[-16%] right-[35%] -z-10 hidden select-none md:block"
            data-aos="fade-down-sm"
            data-aos-delay="150">
            {{ partial "image.html" (dict "Src" "images/shapes/about-s-3.svg" "Class" "inline-svg text-secondary" "Alt" "shape") }}
          </div>
          <!-- End Shape background -->
        </div>
        <!-- End Main Content -->
      </section>
      <!-- End About Gallery -->
    {{ end }}
  {{ end }}

  {{ with .Params.ultimate_vision }}
  <!--
    <section class="section relative z-20">
      <div class="container">
        <div class="row gy-4">
          {{ range $i, $e := . }}
            <div
              data-aos="fade-left-sm"
              data-aos-delay="{{ mul $i 50 }}"
              class="lg:col-6">
              <span
                class="mb-6 inline-block font-medium uppercase text-red-400">
                {{ .subtitle | markdownify }}
              </span>
              <div class="border-dark border-l-2 border-opacity-50 py-2 pl-6">
                <h2 class="font-semibold">
                  {{ .title | markdownify }}
                </h2>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
    -->
    <!-- End About Vision -->
  {{ end }}

  <neodigm-widget data-n55-widget-id="horizontal_scroll"></neodigm-widget>

  <n55-wdg-horz-scrl id="region">
    <div id="region-container" style="width: 400%;">
        <article class="panel" style="background-color: var( --intd-gray ); background: radial-gradient(circle, rgba(189,33,228,0.8884147408963585) 0%, rgba(8,39,245,1) 100%);" data-pref-scheme="dark">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <br>
            <div><br><p class="hd1" style="color:#fff;line-height: .9;">Traffic + Leads =</p>
            <p class="hd1" style="color:#fff;line-height: .9;">Revenue</p></div>
            <br>
            <div style="width: 25%; margin: 2px auto 2px 2px;">
            <p class="hd3" style="color: #fff;">You’ve got big goals, and we have the strategies to make them a reality. At Interstellar Digital, we understand and put into action the methods we know drive success. But, what makes us unique is how we make these methods work even better for your business.</p>
            </div>
        </div>

        </article>
        <article class="panel" style="background-color: #fff; background: radial-gradient(circle, rgba(189,33,228,0.8884147408963585) 0%, rgba(8,39,245,1) 100%);" data-pref-scheme="light">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <br>
            <div><br><p class="hd1" style="color:#fff;line-height: .9;">Rapid ROI</p>
                <br>
                <div style="width: 25%; margin: 2px auto 2px 2px;">
                <p class="hd3" style="color: #fff;">You’re not in the business of waiting around. Our track record has taught us what strategies yield results, and we leverage that knowledge to accelerate your business growth.</p>
            </div>
        </div>
        </article>
        <article class="panel" style="background-color: #242424;background: radial-gradient(circle, rgba(189,33,228,0.8884147408963585) 0%, rgba(8,39,245,1) 100%);" data-pref-scheme="dark">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <br>
            <div><br><p class="hd1" style="color:#fff;line-height: .9;">Technology That</p>
                <p class="hd1" style="color:#fff;line-height: .9;">Serves You</p></div>
                <br>
                <div style="width: 25%; margin: 2px auto 2px 2px;">
                <p class="hd3" style="color: #fff;">We focus on implementing software and technology that works for you, not us. We dive deep into algorithms, tirelessly optimizing to make sure your ad dollars translate into real impact.</p>
                <p class="hd3" style="color: #fff;">When you succeed, we do, too.</p>
            </div>
        </div>
        </article>
        <article class="panel" style="background-color: #fff; background: radial-gradient(circle, rgba(189,33,228,0.8884147408963585) 0%, rgba(8,39,245,1) 100%);" data-pref-scheme="light">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <br>
            <div><br><p class="hd1" style="color:#fff;line-height: .9;">Spend Smart</p>
                <br>
                <div style="width: 25%; margin: 2px auto 2px 2px;">
                <p class="hd3" style="color: #fff;">We know what it takes to run a campaign effectively and efficiently by looking at how much you’re earning compared to how much you’re spending on advertising. We’re masters at crafting strategies that fit snugly within your parameters while maximizing every penny.</p>
                <p class="hd3" style="color: #fff;">Honed through years of experience, our knack for identifying trends and patterns sets us apart.</p>
            </div>
        </div>
        </article>
        <article class="panel" style="background-color: var( --intd-gray ); background: radial-gradient(circle, rgba(189,33,228,0.8884147408963585) 0%, rgba(8,39,245,1) 100%);" data-pref-scheme="dark">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <br>
            <div><br><p class="hd1" style="color:#fff;line-height: .9;">How do you know your</p>
                <p class="hd1" style="color:#fff;line-height: .9;">digital advertising is working?</p></div>
                <br>
                <div style="width: 25%; margin: 2px auto 2px 2px;">
                <p class="hd3" style="color: #fff;">We focus on implementing software and technology that works for you, not us. We dive deep into algorithms, tirelessly optimizing to make sure your ad dollars translate into real impact.</p>
                <p class="hd3" style="color: #fff;">When you succeed, we do, too.</p>
            </div>
        </div>
        </article>
    </div>
</n55-wdg-horz-scrl>

    <hr data-n55-theme="brand" data-n55-size="xsmall">

  <section class="pfmf-grid pfmf-grid__50_50"
  onClick='neodigmCarousel.nav({"id": "js-caro-cont1", "nav": "next"}, (x)=>{ console.log( x ) }).nav({"id": "js-caro-cont2", "nav": "next"}, (x)=>{ console.log( x ) })'>
    <div>
        <neodigm-carousel id="js-caro-cont1">
            <section>
                <section data-n55-carousel-page-name="PageOne">
                    <div class="border-dark border-opacity-50 py-2 pl-6">
                        <img src="/interstellar-website/icon-phone.png" style="max-width: 176px; margin: auto auto;"
                        alt="Interstellar Cares">
                    </div>
                </section>
                <section data-n55-carousel-page-name="PageTwo">
                    <div class="border-dark border-opacity-50 py-2 pl-6">
                        <img src="/interstellar-website/icon-cal.png" style="max-width: 176px; margin: auto auto;"
                        alt="Interstellar Cares">
                    </div>
                </section>
                <section data-n55-carousel-page-name="PageOne">
                    <div class="border-dark border-opacity-50 py-2 pl-6">
                        <img src="/interstellar-website/icon-call.png" style="max-width: 176px; margin: auto auto;"
                        alt="Interstellar Cares">
                    </div>
                </section>
            </section>
         </neodigm-carousel>
    </div>
    <div>
        <neodigm-carousel id="js-caro-cont2">
            <section>
                <section data-n55-carousel-page-name="PageOne">
                    <div class="border-dark py-2 pl-6 h-center">
                        <p class="font-semibold hd3">Your Phones Are Ringing</p>
                    </div>
                </section>
                <section data-n55-carousel-page-name="PageTwo">
                    <div class="border-dark py-2 pl-6 h-center">
                        <p class="font-semibold hd3">Your Calendar is Filled</p>
                    </div>
                </section>
                <section data-n55-carousel-page-name="PageThree">
                    <div class="border-dark py-2 pl-6 h-center">
                        <p class="font-semibold hd3">Your Team is Following Real Leads</p>
                    </div>
                </section>
            </section>
         </neodigm-carousel>
    </div>
</section>

<hr data-n55-theme="brand" data-n55-size="xsmall">

<script>
    setInterval( ()=>{ document.getElementById("js-caro-cont1").click() }, 2e3 )
</script>


  <!-- cache partial only in production -->
  {{ if hugo.IsProduction }}
    {{ partialCached "essentials/footer.html" . }}
  {{ else }}
    {{ partial "essentials/footer.html" . }}
  {{ end }}
{{ end }}
