{{ define "main" }}
  {{ partial "page-header.html" . }}

  {{ with .Params.gallery }}
    {{ if .enable }}
      <section class="section relative z-20 mt-[-26rem] overflow-hidden">
        <div class="container relative">
          <div data-aos="fade-up-sm" data-aos-delay="150" class="row">
            <div class="md:col-6 lg:translate-x-24">
              <div
                class="max-w-[670px] rounded-[15px] border-[6px] border-white bg-white sm:border-[12px] lg:rotate-[-4deg]">
                {{ partial "image.html" (dict "Src" .image_left "Class" "w-full rounded-[15px] object-cover" "Alt" "gallery") }}
              </div>
            </div>
            <div class="md:col-6 lg:-translate-x-24 lg:pt-36">
              <div
                class="relative z-10 max-w-[670px] rounded-[15px] border-[6px] border-white bg-white sm:border-[12px] lg:rotate-[8deg]">
                {{ partial "image.html" (dict "Src" .image_right "Class" "w-full rounded-[15px] object-cover" "Alt" "gallery") }}
              </div>
            </div>
          </div>
          <!-- Start Shape background -->
          <div
            class="pointer-events-none absolute left-[-14%] top-[-7%] -z-10 hidden select-none md:block lg:left-0"
            data-aos="fade-right-sm"
            data-aos-delay="150">
            {{ partial "image.html" (dict "Src" "images/shapes/about-s-1.svg" "Class" "inline-svg text-tertiary" "Alt" "shape") }}
          </div>
          <div
            class="pointer-events-none absolute right-0 top-0 -z-10 hidden select-none md:block lg:right-[30%]"
            data-aos="fade-left-sm"
            data-aos-delay="150">
            {{ partial "image.html" (dict "Src" "images/shapes/about-s-2.svg" "Class" "inline-svg text-quaternary" "Alt" "shape") }}
          </div>
          <div
            class="pointer-events-none absolute bottom-[-16%] right-[35%] -z-10 hidden select-none md:block"
            data-aos="fade-down-sm"
            data-aos-delay="150">
            {{ partial "image.html" (dict "Src" "images/shapes/about-s-3.svg" "Class" "inline-svg text-secondary" "Alt" "shape") }}
          </div>
          <!-- End Shape background -->
        </div>
        <!-- End Main Content -->
      </section>
      <!-- End About Gallery -->
    {{ end }}
  {{ end }}

  {{ with .Params.ultimate_vision }}
    <section class="section relative z-20">
      <div class="container">
        <div class="row gy-4">
          {{ range $i, $e := . }}
            <div
              data-aos="fade-left-sm"
              data-aos-delay="{{ mul $i 50 }}"
              class="lg:col-6">
              <span
                class="mb-6 inline-block font-medium uppercase text-red-400">
                {{ .subtitle | markdownify }}
              </span>
              <div class="border-dark border-l-2 border-opacity-50 py-2 pl-6">
                <h2 class="font-semibold">
                  {{ .title | markdownify }}
                </h2>
                <br>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
    <!-- End About Vision -->
  {{ end }}


  <section class="pfmf-grid pfmf-grid__50_50">
    <div>
      <h2 data-aos="fade-up-sm" class="font-semibold aos-init aos-animate">Beat Your Competitors to the Top of the Page</h2>
      <br>
      <p class="pl-6 text-lg aos-init oas-animate" data-aos="fade-up-sm">Are you poised to become an industry leader? Seize the opportunity to dominate your sector. Rise to prominence on search engine pages, opening doors to new revenue streams and building a thriving business that sets the standard.</p>
    </div>
    <div>
      <img data-aos="fade-up-sm" src="/interstellar-website/interstellar-digital-seo.png" alt="SEO"
      style="width: 76%; padding: 12px; margin: auto;">
    </div>
  </section>
  <br><br>
  
  <section class="pfmf-grid pfmf-grid__50_50">
    <div>
      <img data-aos="fade-up-sm" src="/interstellar-website/seo-leads.png" alt="SEO"
      style="width: 76%; padding: 12px; margin: auto;">
    </div>
    <div>
      <h2 data-aos="fade-up-sm" class="font-semibold aos-init aos-animate">Art Meets Science: The Interstellar Digital Formula</h2>
      <br>
      <p class="pl-6 text-lg aos-init oas-animate" data-aos="fade-up-sm">We combine the art of marketing with the science of analytics – a perfect synergy that propels your brand to the forefront of customer’s minds.</p>
      <p class="pl-6 text-lg aos-init oas-animate" data-aos="fade-up-sm"> The result? A digital strategy that doesn’t just raise awareness; it eclipses your competition, positioning you as the obvious choice.</p>
      <br>
      <nav><a data-aos="fade-up-sm" id="js-seo_page2_cta" href="/interstellar-website/contact/" data-n55-enchanted-cta="" data-n55-enchanted-cta-ambient="emit" data-n55-enchanted-cta-dont-touch="true" data-n55-enchanted-cta-shape-off="true" data-n55-enchanted-cta-hover-an="true" data-n55-enchanted-cta-size="large" data-n55-theme="brand" data-n55-wired4sound-click="vibrate"><span data-n55-wired4sound-hover="3">Get Started</span><span>Contact Us</span></a></nav>
    </div>
  
  </section>
  <br><br>
  
  <section class="pfmf-grid pfmf-grid__50_50">
    <div>
      <h2 data-aos="fade-up-sm" class="font-semibold aos-init aos-animate">Beyond Google: Comprehensive Coverage</h2>
      <br>
      <p class="pl-6 text-lg aos-init oas-animate" data-aos="fade-up-sm">While Google might be synonymous with search, there’s a broader landscape to conquer. Your digital exposure shouldn’t be limited.</p>
      <p class="pl-6 text-lg aos-init oas-animate" data-aos="fade-up-sm">Our comprehensive search engine coverage spans beyond Google to include Bing, DuckDuckGo, Safari, Yahoo, and more.</p>
    </div>
    <div>
      <neodigm-carousel id="js-caro-se"
      onClick='neodigmCarousel.nav({"id": "js-caro-se", "nav": "next"})'>
        <section>
            <section>
              <img src="/interstellar-website/yahoo.png" alt="SEO">
              </section>
            <section>
              <img src="/interstellar-website/bing.png" alt="SEO">
            </section>
            <section>
              <img src="/interstellar-website/safari.png" alt="SEO">
            </section>
            <section>
              <img src="/interstellar-website/duck-duck-go.png" alt="SEO">
            </section>
        </section>
     </neodigm-carousel>
     <script>
      setInterval( ()=>{ neodigmCarousel.nav({"id": "js-caro-se", "nav": "next"}) }, 2e3 )
    </script>
    </div>
  </section>
  <br><br>
  
  <section class="pfmf-grid pfmf-grid__50_50">
    <section>
      <img src="/interstellar-website/local-seo.png" alt="SEO">
    </section>
    <div>
      <h2 data-aos="fade-up-sm" class="font-semibold aos-init aos-animate">Local Presence, National Impact: Be Found Where It Matters</h2>
      <br>
      <p class="pl-6 text-lg aos-init oas-animate" data-aos="fade-up-sm">While Google might be synonymous with search, there’s a broader landscape to conquer. Your digital exposure shouldn’t be limited.</p>
      <p class="pl-6 text-lg aos-init oas-animate" data-aos="fade-up-sm">Our comprehensive search engine coverage spans beyond Google to include Bing, DuckDuckGo, Safari, Yahoo, and more.</p>
    </div>
  
  </section>



<br>
<br>

  <!-- cache partial only in production -->
  {{ if hugo.IsProduction }}
    {{ partialCached "essentials/footer.html" . }}
  {{ else }}
    {{ partial "essentials/footer.html" . }}
  {{ end }}
{{ end }}
