{{ define "main" }}
  {{ partial "page-header.html" . }}

  {{ with .Params.gallery }}
    {{ if .enable }}
      <section class="section relative z-20 mt-[-26rem] overflow-hidden">
        <div class="container relative">
          <div data-aos="fade-up-sm" data-aos-delay="150" class="row">
            <div class="md:col-6 lg:translate-x-24">
              <div
                class="max-w-[670px] rounded-[15px] border-[6px] border-white bg-white sm:border-[12px] lg:rotate-[-4deg]">
                {{ partial "image.html" (dict "Src" .image_left "Class" "w-full rounded-[15px] object-cover" "Alt" "gallery") }}
              </div>
            </div>
            <div class="md:col-6 lg:-translate-x-24 lg:pt-36">
              <div
                class="relative z-10 max-w-[670px] rounded-[15px] border-[6px] border-white bg-white sm:border-[12px] lg:rotate-[8deg]">
                {{ partial "image.html" (dict "Src" .image_right "Class" "w-full rounded-[15px] object-cover" "Alt" "gallery") }}
              </div>
            </div>
          </div>
          <!-- Start Shape background -->
          <div
            class="pointer-events-none absolute left-[-14%] top-[-7%] -z-10 hidden select-none md:block lg:left-0"
            data-aos="fade-right-sm"
            data-aos-delay="150">
            {{ partial "image.html" (dict "Src" "images/shapes/about-s-1.svg" "Class" "inline-svg text-tertiary" "Alt" "shape") }}
          </div>
          <div
            class="pointer-events-none absolute right-0 top-0 -z-10 hidden select-none md:block lg:right-[30%]"
            data-aos="fade-left-sm"
            data-aos-delay="150">
            {{ partial "image.html" (dict "Src" "images/shapes/about-s-2.svg" "Class" "inline-svg text-quaternary" "Alt" "shape") }}
          </div>
          <div
            class="pointer-events-none absolute bottom-[-16%] right-[35%] -z-10 hidden select-none md:block"
            data-aos="fade-down-sm"
            data-aos-delay="150">
            {{ partial "image.html" (dict "Src" "images/shapes/about-s-3.svg" "Class" "inline-svg text-secondary" "Alt" "shape") }}
          </div>
          <!-- End Shape background -->
        </div>
        <!-- End Main Content -->
      </section>
      <!-- End About Gallery -->
    {{ end }}
  {{ end }}

  {{ with .Params.ultimate_vision }}
    <section class="section relative z-20">
      <div class="container">
        <div class="row gy-4">
          {{ range $i, $e := . }}
            <div
              data-aos="fade-left-sm"
              data-aos-delay="{{ mul $i 50 }}"
              class="lg:col-6">
              <span
                class="mb-6 inline-block font-medium uppercase text-red-400">
                {{ .subtitle | markdownify }}
              </span>
              <div class="border-dark border-l-2 border-opacity-50 py-2 pl-6">
                <h2 class="font-semibold">
                  {{ .title | markdownify }}
                </h2>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
    <!-- End About Vision -->
  {{ end }}

  <hr data-n55-theme="brand" data-n55-size="xsmall">

  <section class="pfmf-grid pfmf-grid__30_70"
  onClick='neodigmCarousel.nav({"id": "js-caro-cont1", "nav": "next"}, (x)=>{ console.log( x ) }).nav({"id": "js-caro-cont2", "nav": "next"}, (x)=>{ console.log( x ) })'>
    <div>
        <neodigm-carousel id="js-caro-cont1">
            <section>
                <section data-n55-carousel-page-name="PageOne" style="background-color: var(--intd-gray); padding: 8px; border-radius: 12px;">
                    <div class="border-dark border-l-2 border-opacity-50 py-2 pl-6">
                        <h2 class="font-semibold">
                        lkjdkd lasjdfkljaisd aodsiaka dlkjje did  dozsdoj diohiuase d dkjkdh
                        </h2>
                    </div>
                </section>
                <section data-n55-carousel-page-name="PageTwo">
                    <div class="border-dark border-l-2 border-opacity-50 py-2 pl-6">
                        <h2 class="font-semibold">
                        lkjdkd lasjdfkljaisd aodsiaka dlkjje did  dozsdoj diohiuase d dkjkdh
                        </h2>
                    </div>
                </section>
            </section>
         </neodigm-carousel>
    </div>
    <div>
        <neodigm-carousel id="js-caro-cont2">
            <section>
                <section data-n55-carousel-page-name="PageOne">
                    <div class="border-dark border-l-2 border-opacity-50 py-2 pl-6">
                        <h2 class="font-semibold">
                        lkjdkd lasjdfkljaisd aodsiaka dlkjje did  dozsdoj diohiuase d dkjkdh
                        </h2>
                    </div>
                </section>
                <section data-n55-carousel-page-name="PageTwo">
                    <div class="border-dark border-l-2 border-opacity-50 py-2 pl-6">
                        <h2 class="font-semibold">
                        lkjdkd lasjdfkljaisd aodsiaka dlkjje did  dozsdoj diohiuase d dkjkdh
                        </h2>
                    </div>
                </section>
            </section>
         </neodigm-carousel>
    </div>
</section>


<neodigm-widget data-n55-widget-id="horizontal_scroll"></neodigm-widget>

  <n55-wdg-horz-scrl id="region">
    <div id="region-container" style="width: 400%;">
        <article class="panel" style="background-color: var( --intd-gray ); background: radial-gradient(circle, rgba(189,33,228,0.8884147408963585) 0%, rgba(8,39,245,1) 100%);" data-pref-scheme="dark">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <div><br><p class="hd1" style="color:#fff;line-height: .9;">Beat Your Competitors</p>
            <p class="hd1" style="color:#fff;line-height: .9;">to the Top of the Page</p></div>
            <br>
            <div style="width: 25%; margin: 2px auto 2px 2px;">
            <p class="hd5" style="color: #fff;">You’ve got big goals, and we have the strategies to make them a reality. At Interstellar Digital, we understand and put into action the methods we know drive success. But, what makes us unique is how we make these methods work even better for your business.</p>
            </div>
        </div>

        </article>
        <article class="panel" style="background-color: #fff; background: radial-gradient(circle, rgba(189,33,228,0.8884147408963585) 0%, rgba(8,39,245,1) 100%);" data-pref-scheme="light">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <div><br><p class="hd1" style="color:#fff;line-height: .9;">Ready to Rise?</p>
                <br>
                <div style="width: 25%; margin: 2px auto 2px 2px;">
                <p class="hd5" style="color: #fff;">Are you poised to become an industry leader? Seize the opportunity to dominate your sector. Rise to prominence on search engine pages, opening doors to new revenue streams and building a thriving business that sets the standard.</p>
            </div>
        </div>
        </article>
        <article class="panel" style="background-color: #242424;background: radial-gradient(circle, rgba(189,33,228,0.8884147408963585) 0%, rgba(8,39,245,1) 100%);" data-pref-scheme="dark">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <div><br><p class="hd1" style="color:#fff;line-height: .9;">Art Meets Science: </p>
                <p class="hd1" style="color:#fff;line-height: .9;">The Interstellar Digital Formula</p></div>
                <br>
                <div style="width: 25%; margin: 2px auto 2px 2px;">
                <p class="hd5" style="color: #fff;">We combine the art of marketing with the science of analytics – a perfect synergy that propels your brand to the forefront of customer’s minds.</p>
                <p class="hd5" style="color: #fff;">The result? A digital strategy that doesn’t just raise awareness; it eclipses your competition, positioning you as the obvious choice.</p>
            </div>
        </div>
        </article>
        <article class="panel" style="background-color: #fff; background: radial-gradient(circle, rgba(189,33,228,0.8884147408963585) 0%, rgba(8,39,245,1) 100%);" data-pref-scheme="light">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <div><br><p class="hd1" style="color:#fff;line-height: .9;">Claim Your Spot:</p>
              <p class="hd1" style="color:#fff;line-height: .9;">Don't Let Competitors Win</p></div>

                <br>
                <div style="width: 25%; margin: 2px auto 2px 2px;">
                <p class="hd5" style="color: #fff;">Customers finding your competitors before you is a missed opportunity.</p>
                <p class="hd5" style="color: #fff;">Arm yourself with a marketing approach that conquers the competition and secures your position at the top of search results.</p>
            </div>
        </div>
        </article>
    </div>
</n55-wdg-horz-scrl>



<hr data-n55-theme="brand" data-n55-size="xsmall">


  <!-- cache partial only in production -->
  {{ if hugo.IsProduction }}
    {{ partialCached "essentials/footer.html" . }}
  {{ else }}
    {{ partial "essentials/footer.html" . }}
  {{ end }}
{{ end }}
