{{ define "main" }}
  {{ partial "page-header.html" . }}

  {{ with .Params.gallery }}
    {{ if .enable }}
      <section class="section relative z-20 mt-[-26rem] overflow-hidden">
        <div class="container relative">
          <div data-aos="fade-up-sm" data-aos-delay="150" class="row">
            <div class="md:col-6 lg:translate-x-24">
              <div
                class="max-w-[670px] rounded-[15px] border-[6px] border-white bg-white sm:border-[12px] lg:rotate-[-4deg]">
                {{ partial "image.html" (dict "Src" .image_left "Class" "w-full rounded-[15px] object-cover" "Alt" "gallery") }}
              </div>
            </div>
            <div class="md:col-6 lg:-translate-x-24 lg:pt-36">
              <div
                class="relative z-10 max-w-[670px] rounded-[15px] border-[6px] border-white bg-white sm:border-[12px] lg:rotate-[8deg]">
                {{ partial "image.html" (dict "Src" .image_right "Class" "w-full rounded-[15px] object-cover" "Alt" "gallery") }}
              </div>
            </div>
          </div>
          <!-- Start Shape background -->
          <div
            class="pointer-events-none absolute left-[-14%] top-[-7%] -z-10 hidden select-none md:block lg:left-0"
            data-aos="fade-right-sm"
            data-aos-delay="150">
            {{ partial "image.html" (dict "Src" "images/shapes/about-s-1.svg" "Class" "inline-svg text-tertiary" "Alt" "shape") }}
          </div>
          <div
            class="pointer-events-none absolute right-0 top-0 -z-10 hidden select-none md:block lg:right-[30%]"
            data-aos="fade-left-sm"
            data-aos-delay="150">
            {{ partial "image.html" (dict "Src" "images/shapes/about-s-2.svg" "Class" "inline-svg text-quaternary" "Alt" "shape") }}
          </div>
          <div
            class="pointer-events-none absolute bottom-[-16%] right-[35%] -z-10 hidden select-none md:block"
            data-aos="fade-down-sm"
            data-aos-delay="150">
            {{ partial "image.html" (dict "Src" "images/shapes/about-s-3.svg" "Class" "inline-svg text-secondary" "Alt" "shape") }}
          </div>
          <!-- End Shape background -->
        </div>
        <!-- End Main Content -->
      </section>
      <!-- End About Gallery -->
    {{ end }}
  {{ end }}

  {{ with .Params.ultimate_vision }}
    <section class="section relative z-20">
      <div class="container">
        <div class="row gy-4">
          {{ range $i, $e := . }}
            <div
              data-aos="fade-left-sm"
              data-aos-delay="{{ mul $i 50 }}"
              class="lg:col-6">
              <span
                class="mb-6 inline-block font-medium uppercase text-red-400">
                {{ .subtitle | markdownify }}
              </span>
              <div class="border-dark border-l-2 border-opacity-50 py-2 pl-6">
                <h2 class="font-semibold">
                  {{ .title | markdownify }}
                </h2>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
    <!-- End About Vision -->
  {{ end }}



<neodigm-widget data-n55-widget-id="horizontal_scroll"></neodigm-widget>

  <n55-wdg-horz-scrl id="region">
    <div id="region-container" style="width: 400%;">
        <article class="panel" style="background-color: var( --intd-gray ); background: radial-gradient(circle, rgba(189,33,228,0.8884147408963585) 0%, rgba(8,39,245,1) 100%);" data-pref-scheme="dark">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <br>
            <div><br><p class="hd1" style="color:#fff;line-height: .9;">Personalized Solutions</p>
            <p class="hd1" style="color:#fff;line-height: .9;">for Every Site</p></div>
            <br>
            <div style="width: 25%; margin: 2px auto 2px 2px;">
            <p class="hd3" style="color: #fff;">Whether you’re starting from scratch, looking to enhance your current site, or aiming to maintain your online presence, Interstellar Digital is your comprehensive solution.</p>
            <p class="hd3" style="color: #fff;">Our services are customizable, ensuring that your digital journey is exactly that — yours.</p>
  
          </div>
        </div>

        </article>
        <article class="panel" style="background-color: #fff; background: radial-gradient(circle, rgba(189,33,228,0.8884147408963585) 0%, rgba(8,39,245,1) 100%);" data-pref-scheme="light">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <br>
            <div><br><p class="hd1" style="color:#fff;line-height: .9;">Our Work Starts When Your Site Goes Live </p>
              <p class="hd1" style="color:#fff;line-height: .9;">and Clients Begin to Arrive</p>
                <br>
                <div style="width: 25%; margin: 2px auto 2px 2px;">
                <p class="hd3" style="color: #fff;">How do we assure fast returns on investments? We blend the leatest technology, Google insights, and precise analytics to guide our processes. Through tailored approaches to our client’s accounts, we achieve results that resonate.</p>
            </div>
        </div>
        </article>
        <article class="panel" style="background-color: #242424;background: radial-gradient(circle, rgba(189,33,228,0.8884147408963585) 0%, rgba(8,39,245,1) 100%);" data-pref-scheme="dark">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <br>
            <div><br><p class="hd1" style="color:#fff;line-height: .9;">Crafting Clarity,</p>
                <p class="hd1" style="color:#fff;line-height: .9;">Transforming Complexity.</p></div>
                <br>
                <div style="width: 25%; margin: 2px auto 2px 2px;">
                <p class="hd3" style="color: #fff;">Our team excels in unraveling intricacies. We simplify the most complex concepts into seamless and intuitive user experiences. From design to code, we distill your visionary ideas into webpages that are as easy to use as they are hard to resist.</p>
                <p class="hd3" style="color: #fff;">When you succeed, we do, too.</p>
            </div>
        </div>
        </article>
        <article class="panel" style="background-color: #fff; background: radial-gradient(circle, rgba(189,33,228,0.8884147408963585) 0%, rgba(8,39,245,1) 100%);" data-pref-scheme="light">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <br>
            <div><br><p class="hd1" style="color:#fff;line-height: .9;">Regulations Handled; Risks Mitigated.</p>
                <br>
                <div style="width: 25%; margin: 2px auto 2px 2px;">
                <p class="hd3" style="color: #fff;">Non-compliance can be costly. At Interstellar Digital, compliance is an inherent part of our process.</p>
                <p class="hd3" style="color: #fff;"> We stay informed about evolving laws and regulations, ensuring your digital presence remains law-abiding and fine-free.</p>
            </div>
        </div>
        </article>
    </div>
</n55-wdg-horz-scrl>



<hr data-n55-theme="brand" data-n55-size="xsmall">


  <!-- cache partial only in production -->
  {{ if hugo.IsProduction }}
    {{ partialCached "essentials/footer.html" . }}
  {{ else }}
    {{ partial "essentials/footer.html" . }}
  {{ end }}
{{ end }}
